<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UNIVERSITY of TERROR</title>
    <script type="text/javascript.js" src="/js/jquery-3.2.1.js"></script>
    <script type="text/javascript.js" src="/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>University of Terror</h1>
    </div>
    @RenderBody()
  </body>
</html>
