@{
  Layout = "_Layout";
}
  <form action="/courses/new" method="post">
    <div class="container">
    <div class="form-group">
      <label for="course-name">Enter Course's Name:</label>
      <input type="text" class="form-control" name="course-name" id="course-id" required>
    </div>
  </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-wide">Submit</button>
    </div>
  </form>
<a href="/courses"><button type="submit" class="btn btn-default btn-wide">Back to Courses</button></a>
