@{
  Layout = "_Layout";
}

<a href="/students/new"><button type="submit" class="btn btn-default btn-wide">Students</button></a>
<br>
<a href="/courses/new"><button type="submit" class="btn btn-default btn-wide">Courses</button></a>
<br>
<a href="/departments/new"><button type="submit" class="btn btn-default btn-wide">Departments</button></a>
